<table class="body">
  <tr>
    <td class="center" align="center" valign="top">
      <center>
        {{> "admin-header"}}

        <table class="container page">
          <tr>
            <td>

              <table class="row">
                <tr>
                  <td class="wrapper last">

                    <table class="twelve columns">
                      <tr>
                        <td>
                          <center>
                            <h2 class="center spaced">Setup your admin account, {{name.first}}!</h2>
                          </center>
                          <hr />
                          <h5 class="center spaced">
                            <a href="http://aetrust.org/setup-account/{{link}}">http://aetrust.org/setup-account/{{link}}</a><br />
                            <span class="small">
                              Click the link above to complete your account setup
                            </span>
                          </h5>
                        </td>
                        <td class="expander"></td>
                      </tr>
                      <tr>
                        <td>
                          <p class="lead">An account has been created for you on the AE Trust administration panel. You are required to follow the link above and provide your preferred password before you can use the account.</p>
                        </td>
                        <td class="expander"></td>
                      </tr>
                      <tr class="signature">
                        <td>
                          ~AE Mailbot
                        </td>
                      </tr>
                    </table>

                  </td>
                </tr>
              </table>

              {{> "admin-footer"}}
            </td>
          </tr>
        </table>

      </center>
    </td>
  </tr>
</table>
